<nav class="navbar navbar-light bg-light">
    <div class="container-md" *ngIf="details && members">
        <img [src]="details.avatar_url" alt="" class="col-sm-3">
        <div class="col-sm-9">
            <h1 class="col-12">{{ details.name }}</h1>
            <span class="col-12">This organization has {{ details.public_repos }} repositories and {{ members.length }} members.</span>
        </div>
    </div>
</nav>