<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title pull-left">{{ repoName }}</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <tabset>
                <tab heading="README.md" id="tab1">
                    <div class="wrapper overflow-auto">{{ readmeContent }}</div>
                </tab>
                <tab heading="Commits">
                    <div class="wrapper overflow-auto">
                        <div class="list-group">
                            <a href="#" class="list-group-item list-group-item-action"
                            *ngFor="let commit of (commits | orderCommits: orderCommitsBy)">
                              <div class="d-flex w-100 justify-content-between row">
                                <p class="mb-1 col-8">{{ commit.commit.message }}</p>
                                <small class="col-4 text-right">{{ commit.commit.author.date | date:'longDate' }}</small>
                              </div>
                            </a>
                        </div>
                    </div>
                    <div class="btn-group d-flex justify-content-center" role="group">
                        <button type="button" class="btn btn-secondary" (click)="setOrderCommitsBy('newer')">Newer</button>
                        <button type="button" class="btn btn-secondary" (click)="setOrderCommitsBy('older')">Older</button>
                    </div>
                </tab> 
                <tab heading="Issues">
                    <input type="text" placeholder="Search" [(ngModel)]="searchQuery">
                    <div class="wrapper overflow-auto">
                        <div class="list-group">
                            <a href="#" class="list-group-item list-group-item-action"
                            *ngFor="let issue of (issues | searchIssue: searchQuery | orderIssues: orderIssuesBy)">
                              <div class="d-flex w-100 justify-content-between row">
                                <p class="mb-1 col-8">{{ issue.title }}</p>
                                <small class="col-4 text-right">
                                    {{ issue.created_at | date:'longDate' }} <br/>
                                    Opened by {{ issue.user.login }}
                                </small>
                              </div>
                            </a>
                        </div>
                    </div>
                    <div class="btn-group d-flex justify-content-center" role="group">
                        <button type="button" class="btn btn-secondary" (click)="setOrderIssuesBy('newer')">Newer</button>
                        <button type="button" class="btn btn-secondary" (click)="setOrderIssuesBy('older')">Older</button>
                    </div>
                </tab>
            </tabset>
        </div>
    </div>
</div>