<div class="card">
    <h5 class="card-header d-flex justify-content-between">
      <span>Repositories</span>
      <div>
        <input type="text" placeholder="Search" [(ngModel)]="searchQuery">
        <select id="language" [(ngModel)]="searchLang">
          <option>All</option>
          <option *ngFor="let lang of getLanguages()">{{ lang }}</option>
        </select>
      </div>
    </h5>
    <div class="card-body overflow-auto">
        <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action"
            (click)="openModal(repo.name)"
            *ngFor="let repo of (repos | searchRepository:searchQuery:searchLang)">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">{{ repo.name }}</h5>
                <small>{{ repo.stargazers_count}} <fa-icon [icon]="faStar"></fa-icon></small>
              </div>
              <p class="mb-1">{{ repo.description}}</p>
              <small>Topic 1 Topic 2 Topic 3</small>
            </a>
        </div>
    </div>
</div>