<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <app-header [members]="members"></app-header>
    </div>
  </div>
  <div class="container-md">
    <div class="row">
      <div class="col-md-8">
        <app-repositories></app-repositories>
      </div>
      <div class="col-md-4">
        <app-people [members]="members"></app-people>
      </div>
    </div>
  </div>
</div>