<div class="card">
    <h5 class="card-header d-flex justify-content-between">
        <span>People</span>
        <input type="text" placeholder="Search" [(ngModel)]="searchQuery">
    </h5>
    <div class="card-body overflow-auto row">
        <div class="members card col-md-4 col-6" *ngFor="let member of (members | searchMember:searchQuery)">
            <img [src]="member.avatar_url" class="card-img-top">
            <div class="card-body">
              <p class="card-title">{{ member.name ? member.name : member.login }}</p>
            </div>
        </div>
    </div>
</div>